@use 'sass:color';
@use '../../styles/theme';

.button {
  background-color: theme.$primary-color;
  color: theme.$background-color;
  padding: theme.$spacing-medium;
  border-radius: 5px;
}

$primary: #1976d2;

.button {
  background-color: $primary;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: color.adjust($primary, $lightness: -10%);
  }
}
